<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
    <link href="/css/styleform.css" rel="stylesheet">
</head>
<body>

<form class="decor" th:method="PATCH" th:action="@{/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
        <h3>Редактировать:</h3>
        <input type="text" th:field="*{name}" id="name" placeholder="Введите имя"/>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <input type="text" th:field="*{lastName}" id="lastName" placeholder="Введите фамилию"/>
        <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        <input type="text" th:field="*{age}" id="age" placeholder="Введите возраст"/>
        <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
        <input type="submit" value="Редактировать"/>
    </div>
</form>

</body>
</html>